In [2]:
#importing libraries

import pymongo
import pandas as pd
pd.set_option("display.max_columns",None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
#mongodb connection

client = pymongo.MongoClient("mongodb+srv://srinayan96:123abc@nayan.b3xjvth.mongodb.net/?retryWrites=true&w=majority")
db= client["sample_airbnb"]
coll= db["listingsAndReviews"]

In [4]:
#data scraping

data= []

for i in coll.find({},{"_id":1,
                       "listing_url":1,
                       "name":1,
                       'property_type':1,
                       'room_type':1,
                       'bed_type':1, 
                       'minimum_nights':1,
                       'maximum_nights':1, 
                       'cancellation_policy':1, 
                       'accommodates':1, 
                       'bedrooms':1, 
                       'beds':1, 
                       'number_of_reviews':1, 
                       'bathrooms':1, 
                       'price':1, 
                       'extra_people':1, 
                       'guests_included':1, 
                       'images.picture_url':1, 
                       'review_scores':1,
                       'cleaning_fee':1}):
    data.append(i)

In [5]:
df_1 = pd.DataFrame(data)
df_1.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3.0,5.0,51,1.0,80.00,35.00,15.00,6,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 9, 'review_scores_c..."
1,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2,1.0,1.0,96,1.0,115.00,100.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 9, 'review_scores_c..."
2,10083468,https://www.airbnb.com/rooms/10083468,Be Happy in Porto,Loft,Entire home/apt,Real Bed,2,1125,moderate,2,1.0,1.0,178,1.0,30.00,10.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
3,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,Apartment,Entire home/apt,Real Bed,10,21,strict_14_with_grace_period,2,0.0,1.0,64,1.0,181.00,50.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
4,10112159,https://www.airbnb.com/rooms/10112159,Downtown Oporto Inn (room cleaning),Hostel,Private room,Real Bed,1,1125,moderate,2,1.0,1.0,0,1.0,40.00,50.00,25.00,2,{'picture_url': 'https://a0.muscache.com/im/pi...,{}

In [6]:
df_1["images"]= df_1["images"].apply(lambda x: x["picture_url"])

In [7]:
df_1["review_scores"]= df_1["review_scores"].apply(lambda x: x.get("review_scores_rating",0))

In [8]:
df_1.describe().T

                    count       mean        std  min  25%   50%   75%    max
accommodates       5555.0   3.505851   2.297019  1.0  2.0   3.0   4.0   16.0
bedrooms           5550.0   1.411712   1.041942  0.0  1.0   1.0   2.0   20.0
beds               5542.0   2.071454   1.619660  0.0  1.0   2.0   3.0   25.0
number_of_reviews  5555.0  27.606481  49.798376  0.0  1.0   5.0  32.0  533.0
review_scores      5555.0  68.395680  41.829834  0.0  0.0  92.0  98.0  100.0

In [9]:
df_1.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
cleaning_fee           1531
extra_people              0
guests_included           0
images                    0
review_scores             0
dtype: int64

In [10]:
# The Null Values Feauturs are 
#beds                     
#bedrooms                  
#bathrooms                
#cleaning_fee

In [11]:
df_1["beds"].fillna(0,inplace= True)
df_1["bedrooms"].fillna(0,inplace= True)
df_1["bathrooms"].fillna(0,inplace= True)
df_1["cleaning_fee"].fillna(0,inplace= True)

In [12]:
df_1.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
cleaning_fee           0
extra_people           0
guests_included        0
images                 0
review_scores          0
dtype: int64

In [13]:
df_1.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3.0,5.0,51,1.0,80.00,35.00,15.00,6,https://a0.muscache.com/im/pictures/e83e702f-e...,89
1,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2,1.0,1.0,96,1.0,115.00,100.00,0.00,1,https://a0.muscache.com/im/pictures/15037101/5...,84

In [14]:
df_1.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
cleaning_fee            object
extra_people            object
guests_included         object
images                  object
review_scores            int64
dtype: object

In [15]:
df_1["minimum_nights"]= df_1["minimum_nights"].astype(int)
df_1["maximum_nights"]= df_1["maximum_nights"].astype(int)
df_1["bedrooms"]= df_1["bedrooms"].astype(int)
df_1["beds"]= df_1["beds"].astype(int)
df_1["bathrooms"]= df_1["bathrooms"].astype(str).astype(float).astype(int)
df_1["price"]= df_1["price"].astype(str).astype(float).astype(int)
df_1["extra_people"]= df_1["extra_people"].astype(str).astype(float).astype(int)
df_1["guests_included"]= df_1["guests_included"].astype(str).astype(float).astype(int)
df_1["cleaning_fee"]= df_1["cleaning_fee"].astype(str).astype(float).astype(int)

In [16]:
df_1.dtypes

_id                    object
listing_url            object
name                   object
property_type          object
room_type              object
bed_type               object
minimum_nights          int32
maximum_nights          int32
cancellation_policy    object
accommodates            int64
bedrooms                int32
beds                    int32
number_of_reviews       int64
bathrooms               int32
price                   int32
cleaning_fee            int32
extra_people            int32
guests_included         int32
images                 object
review_scores           int64
dtype: object

In [17]:
host= []
for i in coll.find({},{"_id":1, "host":1}):
    host.append(i)

In [18]:
df_host= pd.DataFrame(host)

In [19]:
host_columns= {'_id':[],
               'host_id':[], 
               'host_url':[], 
               'host_name':[], 
               'host_location':[],
               "host_response_time":[], 
               'host_thumbnail_url':[], 
               'host_picture_url':[], 
               'host_neighbourhood':[], 
               'host_response_rate':[], 
               'host_is_superhost':[], 
               'host_has_profile_pic':[], 
               'host_identity_verified':[], 
               'host_listings_count':[], 
               'host_total_listings_count':[], 
               'host_verifications':[]}

for i in df_host["_id"]:
    host_columns["_id"].append(i)
for i in df_host["host"]:
    host_columns["host_id"].append(i["host_id"])
    host_columns["host_url"].append(i["host_url"])
    host_columns["host_name"].append(i["host_name"])
    host_columns["host_location"].append(i["host_location"])
    host_columns["host_response_time"].append(i.get("host_response_time"))
    host_columns["host_thumbnail_url"].append(i["host_thumbnail_url"])
    host_columns["host_picture_url"].append(i["host_picture_url"])
    host_columns["host_neighbourhood"].append(i["host_neighbourhood"])
    host_columns["host_response_rate"].append(i.get("host_response_rate"))
    host_columns["host_is_superhost"].append(i["host_is_superhost"])
    host_columns["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_columns["host_identity_verified"].append(i["host_identity_verified"])
    host_columns["host_listings_count"].append(i["host_listings_count"])
    host_columns["host_total_listings_count"].append(i["host_total_listings_count"])
    host_columns["host_verifications"].append(i["host_verifications"])

In [20]:
df_host_1= pd.DataFrame(host_columns)

In [21]:
df_host_1.head(2)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,,100.0,False,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,1001265,5448114,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",within an hour,https://a0.muscache.com/im/users/5448114/profi...,https://a0.muscache.com/im/users/5448114/profi...,Waikiki,98.0,False,True,False,18,18,"[email, phone, reviews, kba]"

In [22]:
df_host_1.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_thumbnail_url              0
host_picture_url                0
host_neighbourhood              0
host_response_rate           1388
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

In [23]:
# host_neighbourhood have more empty values ('')
# Finding the how many values are empty
list_index= []
for index,row in df_host_1.iterrows():
    if row["host_neighbourhood"] =='':
        list_index.append(index)

In [24]:
len(list_index)

1923

In [25]:
# "host_neighbourhood" have a "1923" empty values ('')
# so we want to replace thet empty values

In [26]:
df_host_1["host_response_time"].fillna("Not Specified",inplace= True)
df_host_1["host_response_rate"].fillna("Not Specified",inplace= True)
df_host_1["host_neighbourhood"]= df_host_1["host_neighbourhood"].replace({'':"Not Specified"})

In [27]:
df_host_1.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [28]:
df_host_1

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,Not Specified,100.0,False,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,1001265,5448114,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",within an hour,https://a0.muscache.com/im/users/5448114/profi...,https://a0.muscache.com/im/users/5448114/profi...,Waikiki,98.0,False,True,False,18,18,"[email, phone, reviews, kba]"
2,10083468,27518920,https://www.airbnb.com/users/show/27518920,Fábio,"São Félix da Marinha, Porto, Portugal",within an hour,https://a0.muscache.com/im/pictures/user/30283...,https://a0.muscache.com/im/pictures/user/30283...,Not Specified,90.0,True,True,True,3,3,"[email, phone, reviews, manual_offline, jumio,..."
3,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/03c4d82b-7...,https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,Not Specified,False,True,True,1,1,"[email, phone, google, reviews, jumio, offline..."
4,10112159,2649859,https://www.airbnb.com/users/show/2649859,Elisabete,"Porto, Porto, Portugal",Not Specified,https://a0.muscache.com/im/pictures/3e7725d5-7...,https://a0.muscache.com/im/pictures/3e7725d5-7...,Not Specified,Not Specified,False,True,True,2,2,"[email, phone, reviews, jumio, government_id]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9714401,50150452,https://www.airbnb.com/users/show/50150452,Skye,US,within an hour,https://a0.muscache.com/im/pictures/24458797-9...,https://a0.muscache.com/im/pictures/24458797-9...,Waimanalo,100.0,False,True,True,3,3,"[email, phone, reviews, kba]"
5551,9746950,50282028,https://www.airbnb.com/users/show/50282028,Adrian,"Barcelona, Catalonia, Spain",Not Specified,https://a0.muscache.com/im/pictures/99fe7036-4...,https://a0.muscache.com/im/pictures/99fe7036-4...,el Fort Pienc,Not Specified,False,True,False,1,1,"[email, phone, reviews, jumio, offline_governm..."
5552,9799412,27207511,https://www.airbnb.com/users/show/27207511,Gokay,"Istanbul, Turkey",within a day,https://a0.muscache.com/im/users/27207511/prof...,https://a0.muscache.com/im/users/27207511/prof...,Sultanahmet,50.0,False,True,False,2,2,"[email, phone, reviews]"
5553,9867316,40540485,https://www.airbnb.com/users/show/40540485,Miguel,"New York, New York, United States",within an hour,https://a0.muscache.com/im/pictures/f2065606-7...,https://a0.muscache.com/im/pictures/f2065606-7...,Upper East Side,100.0,False,True,True,1,1,"[email, phone, google, reviews, kba]"
5554,9907907,47615848,https://www.airbnb.com/users/show/47615848,Lucy,"Bondi Beach, New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/b4675d0a-f...,https://a0.muscache.com/im/pictures/b4675d0a-f...,Not Specified,Not Specified,False,True,False,1,1,"[email, phone]"

In [29]:
# Changing the "True" or "False" features

df_host_1["host_is_superhost"]= df_host_1["host_is_superhost"].map({False: "No", True: "Yes"})
df_host_1["host_has_profile_pic"]= df_host_1["host_has_profile_pic"].map({False: "No", True: "Yes"})
df_host_1["host_identity_verified"]= df_host_1["host_identity_verified"].map({False: "No", True: "Yes"})

In [30]:
df_host_1.head()

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,Not Specified,100.0,No,Yes,Yes,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,1001265,5448114,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",within an hour,https://a0.muscache.com/im/users/5448114/profi...,https://a0.muscache.com/im/users/5448114/profi...,Waikiki,98.0,No,Yes,No,18,18,"[email, phone, reviews, kba]"
2,10083468,27518920,https://www.airbnb.com/users/show/27518920,Fábio,"São Félix da Marinha, Porto, Portugal",within an hour,https://a0.muscache.com/im/pictures/user/30283...,https://a0.muscache.com/im/pictures/user/30283...,Not Specified,90.0,Yes,Yes,Yes,3,3,"[email, phone, reviews, manual_offline, jumio,..."
3,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/03c4d82b-7...,https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,Not Specified,No,Yes,Yes,1,1,"[email, phone, google, reviews, jumio, offline..."
4,10112159,2649859,https://www.airbnb.com/users/show/2649859,Elisabete,"Porto, Porto, Portugal",Not Specified,https://a0.muscache.com/im/pictures/3e7725d5-7...,https://a0.muscache.com/im/pictures/3e7725d5-7...,Not Specified,Not Specified,No,Yes,Yes,2,2,"[email, phone, reviews, jumio, government_id]"

In [31]:
address= []
for i in coll.find({}, {"_id":1, "address":1}):
    address.append(i)

In [32]:
df_address= pd.DataFrame(address)

In [33]:
address_columns= {'_id':[], 
                  'street':[], 
                  'suburb':[], 
                  'government_area':[], 
                  'market':[], 
                  'country':[],
                  'country_code':[], 
                  'location_type':[], 
                  "longitude":[], 
                  "latitude":[],
                  "is_location_exact":[]}

for i in df_address["_id"]:
    address_columns["_id"].append(i)

for i in df_address["address"]:
    address_columns["street"].append(i["street"])
    address_columns["suburb"].append(i["suburb"])
    address_columns["government_area"].append(i["government_area"])
    address_columns["market"].append(i["market"])
    address_columns["country"].append(i["country"])
    address_columns["country_code"].append(i["country_code"])
    address_columns["location_type"].append(i["location"]["type"])
    address_columns["longitude"].append(i["location"]["coordinates"][0])
    address_columns["latitude"].append(i["location"]["coordinates"][1])
    address_columns["is_location_exact"].append(i["location"]["is_location_exact"])

In [34]:
df_address_1= pd.DataFrame(address_columns)

In [35]:
df_address_1.head(3)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10006546,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.14130,False
1,1001265,"Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.83919,21.28634,True
2,10083468,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61123,41.15225,False

In [36]:
df_address_1.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [37]:
# Checking the empty values ('') for all features

#for i in df_address_1.columns:
id_e=[]
stre_e=[]
suburb_e=[]
gov_e=[]
mark_e=[]
cntry_e=[]
cntry_co_e=[]
loc_ty_e=[]
long_e=[]
lat_e=[]
is_loc_tr_e=[]
for index,row in df_address_1.iterrows():
    if row["_id"] == '':
        id_e.append(index)

    if row["street"] == '':
        stre_e.append(index)
        
    if row["suburb"] == '':
        suburb_e.append(index)

    if row["government_area"] == '':
        gov_e.append(index)

    if row["market"] == '':
        mark_e.append(index)

    if row["country"] == '':
        cntry_e.append(index)
    
    if row["country_code"] == '':
        cntry_co_e.append(index)

    if row["location_type"] == '':
        loc_ty_e.append(index) 

    if row["longitude"] == '':
        long_e.append(index)

    if row["latitude"] == '':
        lat_e.append(index)

    if row["is_location_exact"] == '':
        is_loc_tr_e.append(index)

In [38]:
empty_columns=[id_e,stre_e,suburb_e,gov_e,mark_e,cntry_e,cntry_co_e,loc_ty_e,long_e,lat_e,is_loc_tr_e]
for i in empty_columns:
    print(len(i))

0
0
887
0
6
0
0
0
0
0
0

In [39]:
# "suburb" and "market" have a empty values

df_address_1["suburb"]= df_address_1["suburb"].replace({'':"Not Specified"})
df_address_1["market"]= df_address_1["market"].replace({'':"Not Specified"})

df_address_1["is_location_exact"]= df_address_1["is_location_exact"].map({False:"No", True:"Yes"})

In [40]:
df_address_1

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10006546,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.14130,No
1,1001265,"Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.83919,21.28634,Yes
2,10083468,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61123,41.15225,No
3,10091713,"Surry Hills, NSW, Australia",Darlinghurst,Sydney,Sydney,Australia,AU,Point,151.21554,-33.88029,Yes
4,10112159,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.60867,41.15430,No
...,...,...,...,...,...,...,...,...,...,...,...
5550,9714401,"Waimanalo Beach, HI, United States",Oʻahu,Koolaupoko,Oahu,United States,US,Point,-157.69939,21.33613,No
5551,9746950,"Barcelona, Catalunya, Spain",Eixample,el Fort Pienc,Barcelona,Spain,ES,Point,2.17872,41.39476,Yes
5552,9799412,"Fatih, İstanbul, Turkey",Fatih,Fatih,Istanbul,Turkey,TR,Point,28.97989,41.00600,No
5553,9867316,"New York, NY, United States",Manhattan,Upper East Side,New York,United States,US,Point,-73.96205,40.76266,Yes
5554,9907907,"Bondi Beach, NSW, Australia",Bondi,Waverley,Sydney,Australia,AU,Point,151.26542,-33.89298,No

In [41]:
availability= []
for i in coll.find({}, {"_id":1, "availability":1}):
    availability.append(i)

In [42]:
df_availabe= pd.DataFrame(availability)

In [43]:
availabe_columns= {'_id':[], 
                   'availability_30':[], 
                   'availability_60':[], 
                   'availability_90':[], 
                   'availability_365':[]}

for i in df_availabe["_id"]:
    availabe_columns["_id"].append(i)

for i in df_availabe["availability"]:
    availabe_columns["availability_30"].append(i["availability_30"])
    availabe_columns["availability_60"].append(i["availability_60"])
    availabe_columns["availability_90"].append(i["availability_90"])
    availabe_columns["availability_365"].append(i["availability_365"])

In [44]:
df_availabe_1= pd.DataFrame(availabe_columns)

In [45]:
df_availabe_1

,_id,availability_30,availability_60,availability_90,availability_365
0,10006546,28,47,74,239
1,1001265,16,46,76,343
2,10083468,16,40,67,335
3,10091713,0,0,0,0
4,10112159,30,60,87,359
...,...,...,...,...,...
5550,9714401,8,28,55,299
5551,9746950,0,0,0,0
5552,9799412,30,60,90,365
5553,9867316,2,11,15,154
5554,9907907,0,0,0,0

In [46]:
df_availabe_1.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [47]:
df_availabe_1.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [48]:
amenities= []
for i in coll.find({},{"_id":1, "amenities":1}):
    amenities.append(i)

In [49]:
df_amenities= pd.DataFrame(amenities)

In [50]:
def sort_amenities(x):
    a= x
    a.sort()
    return a

In [51]:
df_amenities["amenities"]= df_amenities["amenities"].apply(lambda x: sort_amenities(x))

In [52]:
df_amenities

           _id                                          amenities
0     10006546  [Bed linens, Buzzer/wireless intercom, Cable T...
1      1001265  [Air conditioning, BBQ grill, Bed linens, Cabl...
2     10083468  [Accessible-height bed, Bed linens, Cable TV, ...
3     10091713  [Bed linens, Dryer, Elevator, Essentials, Ethe...
4     10112159  [Cable TV, Essentials, Family/kid friendly, Fi...
...        ...                                                ...
5550   9714401  [Air conditioning, BBQ grill, Bed linens, Cabl...
5551   9746950  [24-hour check-in, Buzzer/wireless intercom, D...
5552   9799412  [24-hour check-in, Air conditioning, Breakfast...
5553   9867316  [Air conditioning, Bed linens, Carbon monoxide...
5554   9907907  [Dryer, Essentials, Hangers, Internet, Kitchen...

[5555 rows x 2 columns]

In [53]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [54]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

In [55]:
#df_1
#df_host_1
#df_address_1
#df_availabe_1
#df_amenities
df= pd.merge(df_1, df_host_1, on="_id")
df= pd.merge(df, df_address_1, on="_id")
df= pd.merge(df, df_availabe_1, on="_id")
df= pd.merge(df, df_amenities, on="_id")

In [56]:
# save the file 
df.to_csv("Airbnb.csv", index= False)